/* Inter Regular */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Inter Medium */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* Inter Bold */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

/* Montserrat Bold */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Montserrat Regular */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Kollektif Bold */
@font-face {
    font-family: "Kollektif";
    src: url("../fonts/Kollektif-Bold-700.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
